button {
  height: 50px;
  border-color: #efefef !important;
  font-size: 24px;
}

.raw > button:last-child {
  background-color: #f5913e;
}

.Display {
  height: 50px;
  background-color: rgb(60, 60, 57);
  color: aliceblue;
}

@media (min-width: 768px) {
  button {
    height: 100px;
  }

  .Display {
    height: 100px;
  }
}
